

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* this menu is hidden if != phone screen */


/* Nav list styles section*/

.navUl{
    /* variable */
    --text-color: red;
    --backgroundColor-list: #E3E0F3;
    --fontSize: 1.3rem; 
    /*  */
    height: fit-content;
    width: 100vw;
    display: flex;
    justify-content: end;
    align-items: center;
    list-style: none;
    gap: 3vw;
    position: fixed;
}

.navList{
    padding: 1.2rem;
    margin-right: 1vw;
    font-size: var(--fontSize);
    transition: 0.4s;
    
}
a{
    color: #8685EF;
}

.navList:hover{
    background-color: var(--backgroundColor-list);
}
.byname{
    position: absolute;
    padding: 19.200px;
    color: #8685EF;
    left: 0;
}

/* phone screen size */

@media (max-width: 600px) {
    .navUl{
        display: none;
    }
    .byname{
        font-size: 1.5rem;
    }
    
}